@model ProyectoXalli_Gentella.Models.Bodega

@{
    ViewBag.Title = "Detalle";
    Layout = null;
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">

            <div class="col-md-8 center-margin">

                <div class="form-horizontal form-label-left">

                    <div class="form-group">
                        <p>
                            @Html.Label("Código", htmlAttributes: new { @class = "" })
                        </p>                    </div>

                    <div class="form-group">
                        
                    </div>

                </div>

            </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <a onclick="CerrarModal()" class="btn btn-primary">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>
</div>


<script>
    $(document).ready(function () {

        var elem = document.querySelector('.js-switch');
        var init = new Switchery(elem, { size: 'small' });
    });
</script>